deps
logs
pids
ssl
tts
node-red

*__pycache__*
*.log
*.db
*.db-journal
*.db-shm
*.db-wal
*.pid
*.seed
*.uuid
*.conf
*.DS_Store
*.pickle

.HA_VERSION
.idea
.cloud
.storage
.config*
.spotify-token-cache

secrets.yaml
known_devices.yaml
ssh-key
HomeAssistant-5e34300de6d3.json